@mixin font-family {
    font: {
        family: 'Prompt', 'Arial', sans-serif;
    }
}

@mixin title-text {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 64px;
    color: $blacky;
    text-transform: uppercase;
}

@mixin button-text {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin small-text {
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: $blacky;
}

@mixin large-text {
    color: $blacky;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 44px;
}

@mixin row-layout {
    display: flex;
    flex-direction: row;
}

@mixin column-layout {
    display: flex;
    flex-direction: column;
}