.fading {

    &_pos_right {
      animation: fadingRight 3s ease-out;
      @media screen and (max-width: 767px){
        animation: none;
      }
    }
    
    &_pos_left {
      animation: fadingLeft 3s ease-out ;
      @media screen and (max-width: 767px){
        animation: none;
      }
    }
  }