@import '../vendor/fonts/fonts.css';
.main {
  margin: 0;
}

.section-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 64px;
  color: #0A0A0A;
  text-transform: uppercase;
  margin: 0;
}

.header {
  font-family: "Prompt", "Arial", sans-serif;
  background: #E7E7E2;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.header__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #E7E7E2;
  border: none;
  cursor: pointer;
  gap: 16px;
  justify-content: center;
  left: 0;
  padding: 20px 20px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.header__burger-img {
  max-height: 48px;
  max-width: 48px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px 0;
  position: relative;
}
.header__image {
  max-width: 700px;
}
.header__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 64px;
  color: #0A0A0A;
  text-transform: uppercase;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  justify-content: center;
}
.header__subscribe-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0A0A0A;
  border: 0.5px solid #0A0A0A;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 350px;
}
.header__subscribe-button:hover {
  background: #FFF;
  border-color: #FFF;
  color: #0A0A0A;
}

.about {
  font-family: "Prompt", "Arial", sans-serif;
}
.about__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 80px 20px 80px;
}
.about__title {
  justify-self: flex-start;
  max-width: 700px;
}
.about__text {
  margin: 0;
  max-width: 700px;
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  z-index: 2;
}
.about__text_size_small {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #0A0A0A;
}
.about__text_size_big {
  color: #0A0A0A;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 44px;
}
.about__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0 20px 80px;
  position: relative;
}
.about__section_size_s {
  gap: 82px;
}
.about__section_size_m {
  height: 100%;
  min-height: 875px;
}
.about__section_size_xl {
  height: 100%;
  min-height: 1095px;
}
.about__about-img {
  z-index: 1;
}
.about__img_size_m {
  max-width: 700px;
  position: absolute;
  right: 195px;
  top: 0;
  z-index: 1;
}
.about__img_size_big {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
}

.looks {
  font-family: "Prompt", "Arial", sans-serif;
  padding: 0 20px 80px;
}
.looks__title {
  padding: 0 0 40px;
}
.looks__images-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 0;
}
.looks__list-item {
  margin: 0;
  max-height: 436px;
}
.looks__image {
  padding: 0;
}

.footer {
  font-family: "Prompt", "Arial", sans-serif;
  background: #0A0A0A;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 40px 0 40px;
}
.footer__input {
  font-family: "Prompt", "Arial", sans-serif;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  background-color: #0A0A0A;
  color: #FFF;
  max-width: 700px;
  padding: 12px 24px;
  width: 100%;
}
.footer__input-wrapper {
  display: flex;
  flex-direction: row;
  border: 0.5px solid #FFF;
  box-sizing: border-box;
  height: 48px;
}
.footer__submit-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFF;
  border: none;
  color: #0A0A0A;
  cursor: pointer;
  justify-content: center;
  max-width: 108px;
  width: 100%;
}
.footer__submit-button:hover {
  background-color: #0A0A0A;
  border: 0.5px solid #FFF;
  color: #FFF;
}
.footer__title {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #0A0A0A;
  color: #FFF;
  margin: 0;
  text-align: center;
}
.footer__text, .footer__copyright {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #0A0A0A;
  color: #FFF;
  margin: 0;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__label {
  display: flex;
  flex-direction: row;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  line-height: 24px;
}
.footer__checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.footer__checkbox:checked + .footer__checkbox-visible {
  background-image: url("../../images/checked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.footer__checkbox-visible {
  border: 1px solid #FFF;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  max-width: 24px;
  width: 100%;
}/*# sourceMappingURL=index.css.map */