@import '../vendor/fonts/fonts.css';
.main {
  margin: 0;
}

.section-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 64px;
  color: #0A0A0A;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
    line-height: 32px;
  }
}

.header {
  font-family: "Prompt", "Arial", sans-serif;
  background: #E7E7E2;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.header__wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 900px;
  padding: 0 20px 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .header__wrapper {
    min-height: 646px;
  }
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    min-height: 426px;
  }
}
.header__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #E7E7E2;
  border: none;
  color: #0A0A0A;
  cursor: pointer;
  gap: 20px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .header__button {
    padding: 16px 20px 0;
    font-size: 14px;
    line-height: 20px;
  }
}
.header__burger-img {
  max-height: 48px;
  max-width: 48px;
}
@media screen and (max-width: 767px) {
  .header__burger-img {
    max-height: 24px;
    max-width: 24px;
  }
}
.header__image {
  max-width: 700px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .header__image {
    max-width: 486px;
  }
}
@media screen and (max-width: 767px) {
  .header__image {
    max-width: 320px;
  }
}
.header__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 64px;
  color: #0A0A0A;
  text-transform: uppercase;
  max-width: 700px;
  align-self: flex-end;
}
@media screen and (max-width: 1023px) {
  .header__title {
    max-width: 485px;
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .header__title {
    max-width: 280px;
    font-size: 24px;
    line-height: 32px;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .header__content {
    margin: 0;
  }
}
.header__subscribe-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0A0A0A;
  border: 0.5px solid #0A0A0A;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 350px;
}
@media screen and (max-width: 767px) {
  .header__subscribe-button {
    font-size: 14px;
    height: 44px;
    line-height: 20px;
  }
}
.header__subscribe-button:hover {
  background: #FFF;
  border-color: #FFF;
  color: #0A0A0A;
}
.header__close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 48px;
  height: 48px;
  background-image: url("../../images/close-btn.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .header__close-button {
    height: 24px;
    width: 24px;
  }
}
.header__link {
  text-decoration: none;
  color: inherit;
}
.header__popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in;
}
.header__popup_type_opened {
  visibility: visible;
  opacity: 1;
}
.header__popup-wrapper {
  align-items: center;
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 810px;
  justify-content: space-around;
  padding: 20px;
  width: 480px;
}
@media screen and (max-width: 767px) {
  .header__popup-wrapper {
    height: 360px;
    min-width: 320px;
    width: 100%;
  }
}
.header__popup-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  align-self: center;
  gap: 80px;
}
@media screen and (max-width: 767px) {
  .header__popup-menu {
    height: 296px;
    gap: 40px;
  }
}
.header__popup-item {
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.header__popup-item:hover {
  color: #666;
}

.about {
  font-family: "Prompt", "Arial", sans-serif;
}
.about__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  padding: 80px 20px;
}
@media screen and (max-width: 1023px) {
  .about__header {
    padding: 60px 20px 70px;
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .about__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px 40px;
    min-width: 280px;
  }
}
.about__title {
  justify-self: flex-start;
  max-width: 700px;
  color: #0A0A0A;
}
.about__text {
  margin: 0;
  max-width: 700px;
  color: #0A0A0A;
}
@media screen and (max-width: 1023px) {
  .about__text {
    max-width: 364px;
  }
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .about__text-wrapper {
    gap: 20px;
  }
}
.about__text_size_small {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #0A0A0A;
}
@media screen and (max-width: 1023px) {
  .about__text_size_small {
    max-width: 373px;
    max-height: 384px;
  }
}
@media screen and (max-width: 1023px) {
  .about__text_size_small {
    font-size: 16px;
    line-height: 24px;
  }
}
.about__text_size_big {
  color: #0A0A0A;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 44px;
}
@media screen and (max-width: 767px) {
  .about__text_size_big {
    font-size: 20px;
    line-height: 28px;
  }
}
.about__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  padding: 0 20px 80px;
}
@media screen and (max-width: 1023px) {
  .about__section {
    max-width: 768px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .about__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 280px;
  }
}
.about__section_size_s {
  gap: 82px;
}
@media screen and (max-width: 1023px) {
  .about__section_size_s {
    padding: 0 11px 120px 20px;
    gap: 60px;
  }
}
@media screen and (max-width: 767px) {
  .about__section_size_s {
    padding: 0 20px 40px;
  }
}
.about__section_size_m {
  height: 100%;
  min-height: 875px;
}
@media screen and (max-width: 1023px) {
  .about__section_size_m {
    min-height: 484px;
    padding: 0 20px 70px;
  }
}
@media screen and (max-width: 767px) {
  .about__section_size_m {
    padding-bottom: 40px;
  }
}
.about__section_size_xl {
  height: 100%;
  min-height: 1095px;
}
@media screen and (max-width: 1023px) {
  .about__section_size_xl {
    min-height: 607px;
    padding: 0 20px 80px;
  }
}
@media screen and (max-width: 767px) {
  .about__section_size_xl {
    padding-bottom: 40px;
    min-height: 350px;
  }
}
.about__img {
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .about__img {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .about__img_size_s {
    max-width: 304px;
    max-height: 304px;
  }
}
.about__img_size_m {
  max-width: 700px;
  position: absolute;
  right: 195px;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .about__img_size_m {
    max-width: 364px;
    max-height: 452px;
    top: 50px;
    right: 141px;
  }
}
@media screen and (max-width: 767px) {
  .about__img_size_m {
    position: relative;
    left: 0;
    top: 0;
  }
}
.about__img_size_big {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .about__img_size_big {
    max-width: 485px;
  }
}
@media screen and (max-width: 767px) {
  .about__img_size_big {
    position: relative;
    left: 0;
    top: 0;
  }
}

.looks {
  margin: 0;
  font-family: "Prompt", "Arial", sans-serif;
  padding: 0 20px 80px;
}
@media screen and (max-width: 1023px) {
  .looks {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .looks {
    padding-bottom: 40px;
  }
}
.looks__wrapper {
  margin: 0 auto;
  max-width: 1400px;
}
.looks__title {
  padding: 0 0 40px;
}
@media screen and (max-width: 767px) {
  .looks__title {
    padding: 0 0 20px;
  }
}
.looks__images-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 0;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .looks__images-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .looks__images-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.looks__list-item {
  margin: 0;
  max-height: 436px;
  max-width: 350px;
  box-sizing: border-box;
}
.looks__image {
  padding: 0;
  min-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  font-family: "Prompt", "Arial", sans-serif;
  background: #0A0A0A;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 40px 0 40px;
}
@media screen and (max-width: 1023px) {
  .footer__wrapper {
    max-width: 486px;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    max-width: 280px;
  }
}
.footer__input {
  font-family: "Prompt", "Arial", sans-serif;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  background-color: #0A0A0A;
  color: #FFF;
  max-width: 700px;
  padding: 12px 24px;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .footer__input {
    width: 280px;
  }
}
.footer__input-wrapper {
  display: flex;
  flex-direction: row;
  border: 0.5px solid #FFF;
  box-sizing: border-box;
  height: 48px;
}
@media screen and (max-width: 767px) {
  .footer__input-wrapper {
    display: flex;
    flex-direction: column;
    height: 88px;
  }
}
.footer__submit-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFF;
  border: none;
  color: #0A0A0A;
  cursor: pointer;
  justify-content: center;
  max-width: 108px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer__submit-button {
    max-width: 280px;
    height: 44px;
  }
}
.footer__submit-button:hover {
  background-color: #0A0A0A;
  border: 0.5px solid #FFF;
  color: #FFF;
}
.footer__title {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #0A0A0A;
  color: #FFF;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__copyright {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #0A0A0A;
  color: #FFF;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.footer__label {
  display: flex;
  flex-direction: row;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .footer__label {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.footer__checkbox:checked + .footer__checkbox-visible {
  background-image: url("../../images/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.footer__checkbox-visible {
  border: 1px solid #FFF;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  max-width: 24px;
  width: 100%;
}

@-webkit-keyframes fadingRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadingRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadingLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadingLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fading_pos_right {
  -webkit-animation: fadingRight 3s ease-out;
          animation: fadingRight 3s ease-out;
}
@media screen and (max-width: 767px) {
  .fading_pos_right {
    -webkit-animation: none;
            animation: none;
  }
}
.fading_pos_left {
  -webkit-animation: fadingLeft 3s ease-out;
          animation: fadingLeft 3s ease-out;
}
@media screen and (max-width: 767px) {
  .fading_pos_left {
    -webkit-animation: none;
            animation: none;
  }
}/*# sourceMappingURL=index.css.map */