.about {
    @include font-family;

    &__header {
        @include row-layout;
        align-items: flex-start;
        box-sizing: border-box;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1400px;
        padding: 80px 20px;

        @media screen and (max-width: 1023px) {
            padding: 60px 20px 70px;
            max-width: 768px;
        }

        @media screen and (max-width: 767px) {
            @include column-layout;
            gap: 20px;
            padding: 40px 20px 40px;
            min-width: 280px;
        }
    }

    &__title {
        justify-self: flex-start;
        max-width: 700px;
        color: $blacky;
    }

    &__text {
        margin: 0;
        max-width: 700px;
        color: $blacky;

        @media screen and (max-width: 1023px) {
            max-width: 364px;
        }
    }

    &__text-wrapper {
        @include column-layout;
        gap: 24px;
        margin: 0;
        z-index: 2;

        @media screen and (max-width: 767px) {
            gap: 20px;
        }
    }

    &__header-text {
        @include small-text;

        @media screen and (max-width: 1023px) { 
            max-width: 364px;
        }

        @media screen and (max-width: 767px) {
            @include mobile-small-text;
        }
    }

    &__text_size_small {
        @extend .about__header-text;
        margin-top: 167px;

        @media screen and (max-width: 1023px) {
            margin-top: 0;
        }
    }

    &__text_size_big {
        @include large-text;

        @media screen and (max-width: 767px) {
            @include mobile-large-text;
        }
    }

    &__section {
        @include row-layout;
        align-items: center;
        margin: 0 auto;
        max-width: 1400px;
        position: relative;
        padding: 0 20px 80px;

        @media screen and (max-width: 1023px) {
            max-width: 768px;
            padding: 0;
        }

        @media screen and (max-width: 767px) {
            @include column-layout;
            gap: 20px;
            min-width: 280px;
        }
    }

    &__section_size_s {
        gap: 82px;
        align-items: flex-start;

        @media screen and (max-width: 1023px) {
            padding: 0 11px 120px 20px;
            align-items: center;
            gap: 60px;
        }

        @media screen and (max-width: 767px) {
            padding: 0 20px 40px;
            gap: 20px;
        }
    }

    &__section_size_m {
        height: 100%;
        min-height: 875px;

        @media screen and (max-width: 1023px) {
            min-height: 484px;
            padding: 0 20px 70px;
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 40px;
        }
    }

    &__section_size_xl {
        height: 100%;
        min-height: 1095px;

        @media screen and (max-width: 1023px) {
            min-height: 607px;
            padding: 0 20px 80px;
        }

        @media screen and (max-width: 767px) {
           padding-bottom: 40px;
           min-height: 350px;
        }
    }

    &__img {
        z-index: 1;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &__img_size_s {
        @media screen and (max-width: 1023px) {
            max-width: 304px;
            max-height: 304px;
        }
    }

    &__img_size_m {
        max-width: 700px;
        position: absolute;
        right: 195px;
        top: 0;

        @media screen and (max-width: 1023px) {
            max-width: 364px;
            max-height: 452px;
            top: 50px;
            right: 141px;
        }

        @media screen and (max-width: 767px) {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &__img_size_big {
        position: absolute;
        right: 20px;
        top: 0;

        @media screen and (max-width: 1023px) {
            max-width: 485px;
        }

        @media screen and (max-width: 767px) {
            position: relative;
            left: 0;
        }
    }

}