.footer {
    @include font-family;
    background: $blacky;

    &__wrapper {
        @include column-layout;
        align-items: center;
        gap: 40px;
        justify-content: center;
        margin: 0 auto;
        max-width: 700px;
        padding: 40px 0 40px;
    }

    &__input {
        @include font-family;
        @include rm-styles;
        background-color: $blacky;
        color: $whitey;
        max-width: 700px;
        padding: 12px 24px;
        width: 100%;
    }

    &__input-wrapper {
        @include row-layout;
        border: 0.5px solid $whitey;
        box-sizing: border-box;
        height: 48px;
    }

    &__submit-button {
        @include button-text;
        @include row-layout;
        align-items: center;
        background-color: $whitey;
        border: none;
        color: $blacky;
        cursor: pointer;
        justify-content: center;
        max-width: 108px;
        width: 100%;

        &:hover {
            background-color: $blacky;
            border: 0.5px solid $whitey;
            color: $whitey;
        }
    }

    &__title {
        @include small-text;
        color: $whitey;
        margin: 0;
        text-align: center;
    }

    &__text {
        @include small-text;
        color: $whitey;
        margin: 0;
    }

    &__form {
        @include column-layout;
        gap: 20px;
    }

    &__copyright {
        @extend .footer__text;
    }

    &__label {
        @include row-layout;
        color: $whitey;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        gap: 10px;
        line-height: 24px;
    }

    &__checkbox {
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px; 

        &:checked + .footer__checkbox-visible {
            background-image: url('../../images/checked.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }
    }

    &__checkbox-visible {
        border: 1px solid $whitey;
        box-sizing: border-box;
        cursor: pointer;
        height: 24px;
        max-width: 24px;
        width: 100%;
    }


}